<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <script src="Scripts/angular.min.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body ng-controller="productController">


    <div class="container"> 
        <div class="form-group">
            <label for="exampleFormControlInput1">Search</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingresar Id" ng-model="search.$" >
        </div>
     

        <br />
        <table class="table table-striped" >
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                </tr>
                </thead>
                <tr ng-repeat="product in result | filter:search">
                    
                    <td scope="col">{{product.Id}}</td>
                    <td scope="col">{{product.Name}}</td>
                    <td scope="col">{{product.Price}}</td>
                    <td scope="col">{{product.Quantity}}</td>
                    <td scope="col"><button type="button" class="btn btn-primary">Actualizar</button></td>
                    <td scope="col"><button type="button" class="btn btn-danger">Eliminar</button></td>
                </tr>
</table>
    </div>
    <script type="text/javascript">

        var myapp = angular.module('myapp', []);

        myapp.controller('productController', function ($scope, $http) {
            $http({ method: 'GET', url: 'http://localhost:49640/api/product' }).then(function (response) {
                $scope.result = response.data;
                console.log( response);
            });
        });

    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
